<div>
    <form>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">{{ form.title.label }}</label>
            <div class="col-sm-10">
                {{ form.title }}

        {{ form.data }}
    </form>
</div>
