<div>
    <form>
        {% set i = 0 %}
        {% for field in form %}
        {% if 'hidden' not in field.flags %}
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field(class="w-75 form-control") }}
            </div>
        </div>
        {% else %}
        {{ field }}
        {% endif %}

        {% set i = i + 1 %}
        {% endfor %}
    </form>
</div>
