{% extends 'panel/panel.html' %}

{% block panel_content %}
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>Titel</th>
                <th>Template</th>
                <th>Icoon</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            {% for page in g.client.pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.template.name }}</td>
                <td>{{ page.icon or 'Geen' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ g.client.url_for('panel.edit_page', page_id=page.id) }}">Bewerken</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
