{% extends 'base.html' %}

{% block title %}{{ g.panel_name }}{% endblock %}

{% block assets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/panel.css') }}" />
{% endblock %}

{% block header %}
    <nav class="topbar navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand mb-0">{{ config['SITE_NAME'] }} <small>- {{ g.panel_name }}</small></span>

        {#
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label"Toggle navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
        #}

        <span class="navbar-text ml-auto mr-2">Welkom {{ current_user.name }}!</span>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownProfileButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profiel <span class="badge badge-info">1</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfileButton">
                <a class="dropdown-item" href="#">Berichten <span class="badge badge-info">1</span></a>
                <a class="dropdown-item" href="#">Instellingen</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="hidden-xs-down col-md-3 col-lg-2 bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                {% for page in g.panel_pages %}
                    <li class="nav-item">
                        <a class="nav-link{{ ' active' if current_page == page.name }}" href="{{ g.client.url_for('panel.' + page.name) }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9 col-lg-10 ml-auto p-4">
            <div class="h-100 p-3 bg-light border">
                <h2>
                {% block panel_title %}
                    {{ (g.panel_pages|selectattr('name', 'equalto', current_page)|first).title }}
                {% endblock %}
                </h2>
                <hr />
                {% block panel_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
