.topbar
    .dropdown .dropdown-menu
        left initial
        right 0

.sidebar
    position fixed
    top 56px
    bottom 0
    left 0
    z-index 1000
    padding 20px 0px
    overflow-x hidden
    overflow-y auto
    border-right 1px solid #eee

    .nav-link
        border-radius 0

textarea
    height 300px
