<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}{% if self.title() %} | {% endif %}{{ config['SITE_NAME'] }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-grid.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-reboot.min.css') }}" />

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        {% block assets %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}

        <div class="container-fluid">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }} alert-dismissable">
                    <button type="button" class="close" date-dismiss="alert" aria-hidden="true">&times;</button>
                    <p{{ message }}</p>
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>


        <!-- Javascript -->
        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/popper.js/dist/umd/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
